h1 {
    color: #F78888;
    text-align: center;
    font-family: 'Press Start 2P';
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

h2{
    font-family: 'Press Start 2P';
    font-size: 15px;
    color: #F51C6A;
}

h3{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #8762B5;
}

.titulo-de-lista-ordenada{
    font-family: 'Press Start 2P';
    font-weight: bolder;
   color: #B79BE1;
}

span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imagen-post{
    
    width: 550px;
     height: 200px;
     
}

.titulo-de-lista-desordenada{
    font-family: 'Press Start 2P';
    font-weight: bolder;
   color: #F51C6A;
  
}